<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.favorite.dao.FavoriteDao">

	<select id="countArticle" parameterType="int" resultType="int">
		SELECT COUNT(favorite_no)
		FROM favorite
		WHERE hot_no = #{hotNo}
	</select>

	<select id="listArticle" parameterType="string" resultType="favorite">
		SELECT f.favorite_no, f.hot_no, f.user_id, m.user_name
		FROM favorite f
		JOIN members m ON f.user_id = m.user_id
		WHERE f.user_id = #{userId}
	</select>
	
	<insert id="writeArticle" parameterType="favorite">
		INSERT INTO favorite (hot_no, user_id)
		VALUES (#{hotNo}, #{userId})
	</insert>
	
	<delete id="deleteArticle" parameterType="favorite">
		DELETE FROM favorite
		WHERE hot_no = #{hotNo} AND user_id = #{userId}
	</delete>
	
	<select id="checkArticle" parameterType="favorite" resultType="int">
		SELECT COUNT(favorite_no)
		FROM favorite
		WHERE user_id = #{userId} AND hot_no = #{hotNo}
	</select>
</mapper>